@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none; 
}
:root {
    --bg-primary: hsl(218, 28%, 13%);
    --second-primary:  hsl(216, 53%, 9%);
    --font-primary: hsl(0, 0%, 100%);
    --second-font-primary: hsl(0, 0%, 81%);
    --hover-color:hsl(0, 0%, 78%);
    --button-primary:hsl(198, 60%, 50%);
    --link-primary: hsl(176, 68%, 64%);
}

body {
    height: 120vh;
    background-color: var(--bg-primary);
    font-family: "Open Sans", sans-serif;
    padding: 1rem 1.5rem;
}

/* navigation section */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding:1rem 0;
}
nav ul {
    display: flex;
    gap: 2.5rem;
    user-select: none;
    padding:0 2rem;
}
nav ul  li a {
    color: var(--font-primary);
}
nav ul  li a:hover{
    color: var(--hover-color);
    transition: color 0.2s ease-in;
}
nav .logo img {
    display: block;
    max-width: 150px;
    cursor: pointer;
}
/* navigation section end */

/* main section */
main {
    display: flex;
    width: 100%;
    justify-items: center;
    align-items: center;
    margin:0 auto;
    flex-direction: column;
    padding-bottom: 1.5rem;
    margin-top: 1.5rem;
}
main .main_title h2 {
    color: var(--font-primary);
    text-align: center;
    line-height: 2rem;
    letter-spacing: 0.1rem;
}
main .main_title p {
    margin-top: 1rem;
    color: var(--second-font-primary);
    line-height: 2rem;
    text-align: center;
}
main .main_title .button_group {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
}
main .main_title .button_group button {
    padding: 1rem 4rem;
    border: none;
    outline: none;
    text-align: center;
    background-color: var(--button-primary);
    color: var(--font-primary);
    border-radius:10rem;
    font-size: 1.1rem;
    cursor: pointer;

}
/* main section end */

/* section */

section {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 2fr));
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:2rem;
}
section div h2 {
    color: var(--font-primary);
    margin-bottom: 1rem;
}
section div p {
    color: var(--second-font-primary);
    font-size: .95rem;
    line-height: 2rem;
}
/* section end */
/* 
productive_content   */
.productive_content {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.productive_content .banner_info h3 {
    color: var(--font-primary);
    font-size: 2.5rem;
    margin-bottom: .5rem;
}
.productive_content .banner_info p {
    color: var(--second-font-primary);
    line-height: 2rem;
    margin-top: .5rem;
}
.productive_content .banner_info a {
    color: var(--link-primary);
    text-decoration: underline;
    margin-top: 1rem;
    display: block;
}

/* productive_content  end */

/* review  start */
.profile_container{
    margin-top: 3rem;
}
.profile_content {

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    
}
.profile_content .profile{
    background-color:  hsl(219, 30%, 18%);
    padding: 1rem 2rem;
    border-radius: .5rem;
    display:flex;
    align-items: center;
    flex-direction: column;
    
}
.profile_content .profile p {
    color: var(--font-primary);
    line-height: 2rem;
}
.profile_content .profile img {
    display: block;
    width:50px;
    height: 50px;
    border-radius: 1rem;
}
.profile_content .profile .profile_title {
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-top: .5rem;
    text-align: center;
}
.profile_content .profile .profile_title h4 {
    color: var(--font-primary);
}
.profile_content .profile .profile_title p {
    color: var(--hover-color);
    font-size: .85rem;
}
/* review  end */

/* footer start */
footer {
    margin-top: 3rem;
}
footer .mail_container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;

}
footer .mail_content {
    background-color:  hsl(217, 28%, 15%);
    width: 60%;
    padding: 1rem 0 ;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    border-radius: .5rem;
}
footer .mail_content  h3 {
    font-size: 2.5rem;
    color: var(--font-primary);
}
footer .mail_content  p {
    color: var(--hover-color);
    margin:1.5rem 0;
    line-height: 2rem;
}
footer .mail_content form {
    padding:1rem 0;
}
form input{
    background-color: var(--font-primary);
    display: inline-block;
    padding: .8rem 8rem;
    border: none;
    outline:none;
    border-radius: 12rem;
}
form button {
    padding: .8rem 2rem;
    border: none;
    outline: none;
    text-align: center;
    background-color: var(--button-primary);
    color: var(--font-primary);
    border-radius:12rem;
    cursor: pointer;
}

.footer_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    background-color:  hsl(216, 53%, 9%);
    padding: 2rem 1rem;
    margin-top: 2rem;
    border-radius: .5rem;
}
.footer_content .first_footer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.footer_content .first_footer .logo {
    display: block;
    width: 120px;
}
.first_footer p {
    color: var(--font-primary);
    line-height: 2rem;
    font-size: .9rem;
    margin-left: 1rem;
}
.footer_content .second-footer div{
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}
.footer_content .second-footer div p {
    color: var(--font-primary);
}
.footer_content .thrid-footer {
    display: flex;
    color: var(--font-primary);
    gap: .5rem;
    flex-direction: column;
}
.footer_content .fourth-footer {
    display: flex;
    color: var(--font-primary);
    gap: .5rem;
    flex-direction: column;
}
.footer_content .five_footer {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}